PROJECT_NAME=FASTAPI BASE
SECRET_KEY=123456
ENVIRONMENT=local
SQL_DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5454/postgres
AWS_EXTERNAL_ENDPOINT_URL=http://localhost:4566
AWS_INTERNAL_ENDPOINT_URL=http://localstack:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=localstack_key
AWS_SECRET_ACCESS_KEY=localstack_secret